# OS Junk
.DS_Store
Thumbs.db

# Windows shortcuts
*.lnk

# Python droppings
*.pyc
*.profile

*.BACKUP*
*.BASE*
*.LOCAL*
*.REMOTE*

# Text editor nonsense
*.tmproj

# Media download dir
pinyin/media/downloads/*
# Except the info files
!pinyin/media/readme.txt
!pinyin/media/getaudio.txt


# Ignore Media files (except system files)
*.mp3
!pinyin/system-media/*.mp3
!pinyin/media/Ya Li Cheng (Gradint) MP3/*.mp3
*.mp4
*.wav
*.ogg


# Unwanted userdict.txt file (user should create it himself)
# This prevents it being over-written on upgrades
dict-userdict.txt

# Unzipped dictionaries (for developer convenience)
pinyin/dictionaries/cedict-*/*
pinyin/dictionaries/handedict-*/*
pinyin/dictionaries/cfdict-*/*

# Generated database
pinyin/db/*.db

# Generated UI stuff
# NB: DON'T UNCOMMENT THIS LINE.
# Generated data really must be checked in :-)
#pinyin/forms/generated/

# Logs
Pinyin Toolkit.log


# Allows a hardlink in pinyindir to be ignored
pinyin/Pinyin Toolkit.py
