# OS Junk
.DS_Store
Thumbs.db

# Windows shortcuts
*.lnk

# Python droppings
*.pyc

*.BACKUP*
*.BASE*
*.LOCAL*
*.REMOTE*

# Media directory
pinyin/media/*
# Except the info files
!pinyin/media/readme.txt
!pinyin/media/getaudio.txt

# Ignore Media any media that might not be covered by the above
*.mp3
*.mp4
*.wav
*.ogg


# Unwanted userdict.txt file (user should create it himself)
# This prevents it being over-written on upgrades
dict-userdict.txt

# Generated UI stuff
# NB: DON'T UNCOMMENT THIS LINE.
# Generated data really must be checked in :-)
#pinyin/forms/generated/

# Logs
Pinyin Toolkit.log


# Allows a hardlink in pinyindir to be ignored
pinyin/Pinyin Toolkit.py