# OS Junk
.DS_Store
Thumbs.db

# Media directory
pinyin/media

# Python droppings
*.pyc

# Unwanted userdict.txt file (user should create it himself)
# This prevents it being over-written on upgrades
dict-userdict.txt

# Windows shortcutes
*.lnk