---
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div id="header">
      <a href="index.html">
        <img class="header-image" src="images/header.jpg" alt="Pinyin Toolkit" />
      </a>
    </div>
    
    <div id="content">
      {% include linksheader.html %}
      
      <img src="images/screenshots/overview.jpg" align="center" />
      
      <div>
        <h1>Installation</h1>
        <ol>
          <li>
            <a class="colorbox" href="images/installing/anki.jpg">
              <img class="miniscreen odd" src="images/installing/anki-thumb.jpg" />
            </a>
        
            <p>
              If you haven't already, download and install <a href="http://ichi2.net/anki/">Anki</a>.
              The Pinyin Toolkit is a plugin built on top of Anki.  Anki provides the powerful spaced
              repetition system for aiding memorisation, and the Pinyin Toolkit enhances it with plenty
              of Chinese-specific goodness.
            </p>
      
            <p>
              Anki (and Pinyin Toolkit) is available on all the major platforms: Windows, OS X and Linux.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/install-shared.jpg">
              <img class="miniscreen odd" src="images/installing/install-shared-thumb.jpg" />
            </a>
        
            <p>
              Open Anki, then choose &quot;File&quot; &gt; &quot;Download&quot; &gt; &quot;Shared Plugin&quot;.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/install.jpg">
              <img class="miniscreen odd" src="images/installing/install-thumb.jpg" />
            </a>
        
            <p>
              From the resulting list, search for &quot;Pinyin Toolkit&quot; and choose &quot;Install&quot;
              to download and install the plugin.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/preferences.jpg">
              <img class="miniscreen odd" src="images/installing/preferences-thumb.jpg" />
            </a>
        
            <p>
              Restart Anki. The Pinyin Toolkit is now installed! Now, you can either <a href="#settingup">
              set up an existing deck</a> for use with the Toolkit or <a href="TODO">download the demo deck
              (TODO)</a> that has been preconfigured to demonstrate the features of the Toolkit. TODO: describe
              next steps.
            </p>
        
            <p>
              Optionally, you may configure the Toolkit by choosing &quot;Tools&quot; &gt; &quot;Pinyin
              Toolkit&quot; &gt; &quot;Preferences&quot;.
            </p>
        
            <br style="clear:both" />
          </li>
        </ol>
      </div>
  
      <div>
        <h1>Setting Up A Deck</h1>
        <ol>
          <li>
            <a class="colorbox" href="images/installing/deck-properties.jpg">
              <img class="miniscreen odd" src="images/installing/deck-properties-thumb.jpg" />
            </a>
        
            <p>
              To set up an Anki flashcard deck for use with the Pinyin Toolkit, you need to make a few simple
              changes. Firstly, we are going to add the &quot;Mandarin&quot; tag to the deck. Open the
              &quot;Settings&quot; &gt; &quot;Deck Properties&quot; menu item.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/edit-model.jpg">
              <img class="miniscreen odd" src="images/installing/edit-model-thumb.jpg" />
            </a>
        
            <p>
              You should now be faced with the deck properties dialog. Choose the model you wish to use with the
              Toolkit and then click &quot;Edit&quot;.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/model-properties.jpg">
              <img class="miniscreen odd" src="images/installing/model-properties-thumb.jpg" />
            </a>
        
            <p>
              Finally, add the tag to the deck by changing the value of the &quot;Tags&quot; field to 
              &quot;Mandarin&quot;. If you want to add to an existing list of tags, you can put several tags
              in this field by separating them using commas.
            </p>
        
            <p>
              If you are using standard names for the fields of your deck, that concludes the set-up process.
              TODO: describe the standard names and configuration options.
            </p>
        
            <br style="clear:both" />
          </li>
        </ol>
      </div>
      
      {% include footer.html %}
    </div>
  </body>
</html>