---
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div id="header">
      <a href="index.html">
        <img class="header-image" src="images/header.jpg" alt="Pinyin Toolkit" />
      </a>
    </div>
    
    <div id="content">
      {% include linksheader.html %}
      
      <div>
        <h1><a name="installation">Installation</a></h1>
        <ol>
          <li>
            <a class="colorbox" href="images/installing/anki.jpg">
              <img class="miniscreen odd" src="images/installing/anki-thumb.jpg" />
            </a>
        
            <p>
              If you haven't already, download and install <a href="http://ichi2.net/anki/">Anki</a>.
              The Pinyin Toolkit is a plugin built on top of Anki.  Anki provides the powerful spaced
              repetition system for aiding memorisation, and the Pinyin Toolkit enhances it with plenty
              of Chinese-specific goodness.
            </p>
      
            <p>
              Anki (and Pinyin Toolkit) is available on all the major platforms: Windows, Mac OS X and Linux.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/install-shared.jpg">
              <img class="miniscreen odd" src="images/installing/install-shared-thumb.jpg" />
            </a>
        
            <p>
              We distribute the plugin via Anki's built-in mechanism for downloading plugins, so the next step is
              to open Anki, and then choose &quot;File&quot; &gt; &quot;Download&quot; &gt; &quot;Shared Plugin&quot;.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/install.jpg">
              <img class="miniscreen odd" src="images/installing/install-thumb.jpg" />
            </a>
        
            <p>
              You'll be presented with a huge list of available plugins. Search for &quot;Pinyin Toolkit&quot; and choose &quot;Install&quot;
              to download and install the plugin.
            </p>
            
            <p>
              If you haven't already, you might also be interested in installing the
              &quot;Hanzi Stats&quot; plugin, which provides a handy summary of your progress towards the various
              <a href="http://www.hsk.org.cn/english/default.aspx">HSK</a> levels.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/preferences.jpg">
              <img class="miniscreen odd" src="images/installing/preferences-thumb.jpg" />
            </a>
        
            <p>
              Restart Anki. The Pinyin Toolkit is now installed! However, we recommend that you take this opportunity to install
              an audio pack for use with text-to-speech. If you don't want to use this feature, you can skip to the final step.
            </p>
        
            <p>
              To begin, enter the Toolkit preferences by choosing &quot;Tools&quot; &gt; &quot;Pinyin Toolkit&quot; &gt; &quot;Preferences&quot;.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/preferences-audio.png">
              <img class="miniscreen odd" src="images/installing/preferences-audio-thumb.png" />
            </a>
        
            <p>
              To install the audio pack, click &quot;Install Free Mandarin Sounds Pack&quot; on the &quot;Audio&quot; tab of the
              Pinyin Toolkit preferences. You can also use this opportunity to tweak some of the other settings, should you so wish.
            </p>
            
            <p>
              The Mandarin Sounds audio pack is a 14MB file, so the download process might take a while. Give it time!
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/fill-missing-data.png">
              <img class="miniscreen odd" src="images/installing/fill-missing-data-thumb.png" />
            </a>
            
            <p>
              Now, you can either <a href="#settingup">set up an existing deck</a> for use with the Toolkit or
              <a href="files/pytk-demo-deck-0.9.9.8.1-v1.zip">download the demo deck</a> that has been preconfigured to demonstrate
              the features of the Toolkit.
            </p>
            
            <p>
              For licensing and download size reasons, the demo deck is distributed without any media. For this reason,
              we recommend using the &quot;Tools&quot; &gt; &quot;Pinyin Toolkit&quot; &gt; &quot;Fill missing card data&quot;
              menu option the first time you open the demo deck after installing an audio pack.
            </p>
            
            <p>
              Once you've configured your deck you can start adding facts! Alternatively, you can get the Toolkit
              to try and add missing information to existing facts using the &quot;Fill missing card data&quot; option discussed
              above. If you choose this option, it might be wise to keep a backup of your deck around, in case you don't like the results!
            </p>
        
            <br style="clear:both" />
          </li>
        </ol>
      </div>
  
      <div>
        <h1><a name="settingup">Setting Up A Deck</a></h1>
        <ol>
          <li>
            <a class="colorbox" href="images/installing/deck-properties.jpg">
              <img class="miniscreen odd" src="images/installing/deck-properties-thumb.jpg" />
            </a>
        
            <p>
              To set up an Anki flashcard deck for use with the Pinyin Toolkit, you need to make a few simple
              changes. Firstly, we are going to add the &quot;Mandarin&quot; tag to the deck. Open the
              &quot;Settings&quot; &gt; &quot;Deck Properties&quot; menu item.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/edit-model.jpg">
              <img class="miniscreen odd" src="images/installing/edit-model-thumb.jpg" />
            </a>
        
            <p>
              You should now be faced with the Deck Properties dialog. Choose the model you wish to use with the
              Toolkit and then click &quot;Edit&quot;.
            </p>
            
            <p>
              It is perfectly possible to use more than one model with the Toolkit - just repeat the next steps
              with every model you wish to be considered.
            </p>
        
            <br style="clear:both" />
          </li>
          <li>
            <a class="colorbox" href="images/installing/model-properties.jpg">
              <img class="miniscreen odd" src="images/installing/model-properties-thumb.jpg" />
            </a>
        
            <p>
              Add the tag to the deck by changing the value of the &quot;Tags&quot; field to 
              &quot;Mandarin&quot;. If you want to add to an existing list of tags, you may do so by separating
              it from the previous tags using a space.
            </p>
        
            <br style="clear:both" />
          </li>
          
          <li>
            <a class="colorbox" href="images/installing/fields.png">
              <img class="miniscreen odd" src="images/installing/fields-thumb.png" />
            </a>
            
            <p>
              The penultimate step is to make sure your deck has the right fields in it.  The Toolkit will attempt to guess
              what a field is intended for by looking at its name, and if it can't find fields with the right names
              then various features won't work as intended.
            </p>
            
            <p>
              In order to let the Toolkit find your fields, you need to add new fields or modify existing ones in your
              model so that they have one of the recognised names:
            </p>
        
            <br style="clear:both" />
            
            <table>
              <tr>
                <th><h3>Purpose</h3></th>
                <th><h3>Recognised Names</h3></th>
              </tr>
              <tr>
                <td>
                  <p><span class="purpose">Expression</span>: where you type Hanzi. Defines the subject of the card.</p>
                </td>
                <td>
                  <p>&quot;Expression&quot;, &quot;Hanzi&quot;, &quot;Chinese&quot;, &quot;汉字&quot;, &quot;中文&quot;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><span class="purpose">Color</span>: where you want a colored version of your Hanzi to appear.</p>
                </td>
                <td>
                  <p>&quot;Color&quot;, &quot;Colour&quot;, &quot;Colored Hanzi&quot;, &quot;彩色&quot;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><span class="purpose">Reading</span>: the pronunciation of the Hanzi in pinyin format.</p>
                </td>
                <td>
                  <p>&quot;Reading&quot;, &quot;Pinyin&quot;, &quot;PY&quot;, &quot;拼音&quot;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><span class="purpose">Meaning</span>: your local-language equivalent of the Hanzi - the definition.</p>
                </td>
                <td>
                  <p>&quot;Meaning&quot;, &quot;Definition&quot;, &quot;English&quot;, &quot;German&quot;, &quot;French&quot;, &quot;意思&quot;, &quot;翻译&quot;, &quot;英语&quot;, &quot;法语&quot;, &quot;德语&quot;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><span class="purpose">Measure word</span>: the word or words that are used to quantify the subject of this card.</p>
                </td>
                <td>
                  <p>&quot;MW&quot;, &quot;Measure Word&quot;, &quot;Classifier&quot;, &quot;量词&quot;</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><span class="purpose">Audio</span>: contains the audio-playing tags corresponding to the Hanzi on this card.</p>
                </td>
                <td>
                  <p>&quot;Audio&quot;, &quot;Sound&quot;, &quot;Spoken&quot;, &quot;声音&quot;</p>
                </td>
              </tr>
            </table>
            
            <!--
              Not enabled:
              
              'weblinks'   : ["Links", "Link", "LinksBar", "Links Bar", "Link Bar", "LinkBar", "Web", "Dictionary", "URL", "URLs"],
              'pos'        : ["POS", "Part", "Type", "Cat", "Class", "Kind", "Grammar"] 
            -->
        
            <p>
              It's perfectly OK for you not to add some (or even all!) of these fields to your deck - but the
              Toolkit will be less functional as a result of the omission.
            </p>
          </li>
          <li>
            <a class="colorbox" href="images/installing/card-templates.png">
              <img class="miniscreen odd" src="images/installing/card-templates-thumb.png" />
            </a>
            
            <p>
              The very last step is to edit your card templates to include references to the new fields we've just set up.
              Go to the &quot;Card Templates&quot; and set up the substitutions to suit your taste. An example &quot;Answer&quot;
              template might look as follows:
            </p>
            
            <div class="embossed" style="float: left">
              <p>
                <code>
                  %(Color)s: %(Reading)s&lt;br /&gt;<br />
                  %(Meaning)s&lt;br /&gt;<br />
                  %(Measure Word)s&lt;br /&gt;<br />
                  %(Audio)s
                </code>
              </p>
            </div>
            
            <br style="clear:both" />
          </li>
        </ol>
      </div>
      
      {% include footer.html %}
    </div>
  </body>
</html>