---
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div id="header">
      <img class="header-image" src="images/header.jpg" alt="Pinyin Toolkit" />
    </div>
    
    <div id="content">
      {% include linksheader.html %}
      
      <img src="images/screenshots/overview.jpg" align="center" />
    
      <p class="pitch">
        The Pinyin Toolkit is a plugin for the <a href="http://ichi2.net/anki/">Anki</a>
        <a href="http://en.wikipedia.org/wiki/Spaced_repetition">spaced repetition system</a>, which adds
        a ton of features useful to learners of Mandarin Chinese.
      </p>

      <div class="feature">
        <!-- A small screenshot showing the user what to expect -->
        <img class="miniscreen" src="images/screenshots/colorisation.jpg" />
        <!-- The high-level pitch: not too much detail, make them read the text for that -->
        <h3>Make use of your visual memory</h3>
        <!-- Only now explain what it's actually about -->
        <p>
          The Pinyin Toolkit can colorise LOREM IPSUM.
        </p>
      </div>
    
      <div class="feature">
        <img class="miniscreen odd" src="images/screenshots/meanings.jpg" />
        <h3>Definitions at your fingertips</h3>
        <p>
          The Pinyin Toolkit uses its extensive dictionary.
        </p>
      </div>

      <div class="feature">
        <img class="miniscreen" src="images/screenshots/languages.jpg" />
        <h3>Learn in any language of the world</h3>
        <p>
          German, French, Gogole Translate, LOREM IPSUM.
        </p>
      </div>
      
      {% include footer.html %}
    </div>
  </body>
</html>
