    <title>Pinyin Toolkit - an Anki plugin for Chinese learners</title>
    <!-- Force UTF-8, because GitHub claims to serve all files in Western (ISO-8859-1) format -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
    <link rel="stylesheet" type="text/css" href="colorbox/styles/colorbox.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="colorbox/script/jquery.colorbox-min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('a.colorbox').colorbox({overlayClose: true})
      });
    </script>