      <table class="linksheader">
        <tr>
          <td>
            <div class="linkentry">
              <a href="index.html">Home</a>
            </div>
          </td>
          <td>
            <div class="linkentry">
              <a href="getit.html">Get it!</a>
            </div>
          </td>
          <td>
            <div class="linkentry">
              <a href="http://github.com/batterseapower/pinyin-toolkit/issues/">Report a bug</a>
            </div>
          </td>
          <td>
            <div class="linkentry">
              <a href="http://groups.google.com/group/ankisrs/topics?pli=1">Discuss</a>
            </div>
          </td>
          <td>
            <div class="linkentry">
              <a href="http://github.com/batterseapower/pinyin-toolkit">Source code</a>
            </div>
          </td>
        </tr>
      </table>